.articles_section {
    margin-bottom: 60px;
}

.articles_inner {
    margin-right: -15px;
    margin-left: -15px;
}

.col_article {
    padding-left: 15px;
    padding-right: 15px;
}

.slider_articles {
    margin-right: -15px;
    margin-left: -15px;
}