
.page_tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tools_inner {

    .grid_view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }
}


.view_grid_item {
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
    }

    .grid_of_4 {
        width: 25px;
    }

    .grid_of_3 {
        width: 45px;
        height: 45px;
    }
}