.single_product {
    // margin-bottom: 50px;
}

.product_inner {
    background-color: #f7f7f7;
    margin-top: -40px;
    padding: 30px;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.product_gallery {
    border-radius: 5px;

    img {
        border-radius: 5px;
        height: 100%;
        width: 100%;
    }
}

.product_summary {
    margin-bottom: 40px;

    .breadcrumbs {
        margin-bottom: 35px;
    }

    .game_title {
        font-size: 34px;
        line-height: 1.2;
        font-weight: 600;

        margin-bottom: 10px;
    }

    .rating {
        margin-bottom: 20px;
    }

    .short_description {
        font-size: 16px;
        color: rgb(119, 119, 119);
        margin-bottom: 40px;
    }

    .game_info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        border-bottom: 1px solid #e0e0e0;

        .info_item {
            display: flex;
            gap: 10px;
            flex-direction: column;

            div {
                font-size: 15px;
                font-weight: 600;
                color: rgb(36, 36, 36);
            }

            span {
                color: rgb(119, 119, 119);
                font-size: 16px;
            }

            padding-bottom: 12px;
        }
    }
}

.additional_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.additional_info_item {
    display: flex;
    align-items: center;
    gap: 0 10px;

    .additional_info_item_img {}

    .info_title {
        font-weight: 500;
        color: rgb(119, 119, 119);
    }
}


.description {
    margin-bottom: 80px;

    h4 {
        margin-bottom: 30px;
    }
}

.desc_images {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 30px;
}

.desc_img_item {

    img {
        border-radius: 5px;
    }
}

.reviews {
    margin-bottom: 50px;
}

.product_counter_reviews {
    margin-bottom: 15px;
}

.review_btn {
    border-radius: 20px;
}

.add_review_form {
    display: flex;
    flex-direction: column;
    gap: 25px;

    input,
    textarea {
        border-radius: 20px;
    }

    textarea {
        min-height: 176px;
    }
}

.reviews_inner {
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.review_area {
    margin-bottom: 15px;
}

.reviews_counter {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avarage_rating {
    font-size: 102px;
    font-weight: 500;
}

.related_products {
    margin-bottom: 50px;
}

.stretch {
    position: relative;
    box-sizing: border-box;
    width: calc(100vw - 15px);

    --wd-scroll-w: 15px;
    left: calc((50% - 50vw) + var(--wd-scroll-w));

    padding-left: calc((100vw - 1520px - var(--wd-scroll-w)) / 2);
    padding-right: calc((100vw - 1520px - var(--wd-scroll-w)) / 2);
}


// HELPERS
.row_center {
    align-items: center;
    margin-bottom: 25px;
}

.col_image {
    cursor: pointer;
    padding-right: 15px;
    padding-left: 15px;
}

// ===== RESPONSIVE =====

@media (max-width: 990px) {
  .product_gallery {
    border-radius: 5px;
    margin-bottom: 20px;

  }

  .product_inner,
  .reviews {
    margin-bottom: 30px;
  }

  .description {
    margin-bottom: 40px;
  }
}