.category_item_wrapper {
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
}

.articles_inner {
  margin-right: -15px;
  margin-left: -15px;
}

.col_slider {
  padding-left: 15px;
  padding-right: 15px;
}

.slider_block{
  margin-right: -15px;
  margin-left: -15px;
}