.intro {
    margin-bottom: 45px;
}

.games {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.col_inner_games {
}

.slider {
    .slide {
        img {
            border-radius: 5px;
            max-height: 627px;
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}
