.game_grid_item {
  margin-bottom: 15px;
}

.grid_image {
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;

  img {
    transition: all .4s linear;
  }

  a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
  }

  &:hover {

    img {
      scale: 1.05;
    }
  }
}

.grid_image img {
  border-radius: 5px;
}

.game_details {

}
.item_grid_title {
  margin-bottom: 5px;
}

.developer {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}