.game_grid_item {
  margin-bottom: 15px;
}

.game_grid_item_alternative {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #efefef;
  border-radius: 10px;
  padding-right: 10px;

  margin-bottom: 30px;

  .game_details {
    width: 400px;
    text-align: right;
  }
}


.grid_image {
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;

  min-width: 100px;
  min-height: 150px;

  img {
    transition: all .4s linear;
  }

  a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
  }

  &:hover {

    img {
      scale: 1.05;
    }
  }
}

.grid_image img {
  border-radius: 5px;
  width: 100%;
}

.game_details {

}
.item_grid_title {
  margin-bottom: 5px;
}

.developer {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}